@import '../../../assets/styles/variables/colors.scss';

.add-new-item {
    padding: 20px;
    input {
        padding: 5px;
        border-radius: 3px;
        border: 2px solid $brown;
        box-shadow: none;
        width: 75%;
    }
    button {
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid $brown;
        width: 34px;
        height: 34px;
        font-size: 25px;
        color: $brown;
        margin-left: 5px;
        position: relative;
        top: 3px;
        &:focus {
            outline: none;
        }
    }
    @media (max-width: 600px) {
        input {
            width: 55%;
        }
    }
    @media (max-width: 480px) {
        input {
            width: 45%;
        }
    }
}